.blogPost {
  background-color: var(--color-background);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  color: var(--color-text);
}

.header {
  margin-bottom: 1.5rem;
}

.authorInfo {
  display: flex;
  align-items: center;
}

.authorImage {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 1rem;
}

.authorDetails {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  color: var(--color-text-light);
}

.meta {
  color: #666;
  font-size: 0.9rem;
}

.author {
  font-weight: bold;
}

.date {
  font-style: italic;
}

.content {
  font-size: 1.1rem;
  color: var(--color-text);
  line-height: 1.6;
  margin-bottom: 2rem;
}

.reflection {
  background-color: var(--background-color1);
  padding: 1.5rem;
  border-radius: 6px;
}

.reflection h2 {
  margin-bottom: 1rem;
  color: var(--color-text-light);
}
