.grid {
  display: grid;
  grid-template-areas:
    "hackaton"
    "inzichten";
  background-color: var(--color-background);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  color: var(--color-text);
}

.hackaton {
  display: flex;
  flex-direction: column;
  min-height: 10em;
}

.reflectie {
  display: flex;
  flex-direction: column;
  min-height: 10em;
}

.inzichten {
  display: flex;
  flex-direction: column;
  min-height: 10em;
}
.content {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  background-color: var(--background-color1);
  border-radius: 6px;
  padding: 1.5rem;
}

.svg {
  fill: var(--svgcolor);
  width: 25px;
  height: 25px;
  margin-left: 1em;
}
